<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/cs.css">
    <link rel="icon" type="image/x-icon" href="/public/img/icon.png">
    <link rel="stylesheet" href="/public/css/homepage.css">
  </head>
<body style="margin-top:0px;" class="homepageanimation" id="homepagebody">
    
  <%- include('common/header'); -%>

      

    <div class="container-flud" id="register" style="margin-top: 5vh;">

        <div class="row " style="width:100%;">

            <div class="col-12" style="width:35vw; margin:auto;">

                <div class="card" style="width:32vw;">

                    <div class="card-body">

                        <form  id="form"  action="/register" method="post">


                            <div style="width: 32vw; margin-bottom:1vh">
                                <div style="display:inline-block; border:2px solid green; width: 15vw; text-align:center">
                                    <a href="/register" style="display:inline-block; width:auto; color:green; text-decoration:none"><h3 style="display: inline-block; width:auto;">Register</h3></a>
                                </div>
                                <div style="display:inline-block; color:black; width:15vw; text-align:center">
                                <a href="/login" style="display:inline-block; width:auto; color:black; text-decoration:none"><h3 style="display: inline-block; width:auto;">Login</h3></a>
                                </div>
                            </div>
                            
                            <!-- <div style="margin-top:2vh; margin-bottom:2vh;">

                              <p style="margin-bottom:0.8vh;">Please select you are registering as admin or user</p>
  
                              <input type="radio" id="admin" name="typ" value="admin" required>
                              <label for="admin">Admin</label>
                                      <br>
                              <input type="radio" id="user" name="typ" value="user" required>
                              <label for="user">User</label>
  
                              </div> -->

                            <div class="mb-3">
                              <label for="email" class="form-label">Enter Your Email address</label>
                              <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" autocomplete="on" required>
                              <p id="emailres"></p>
                              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                            </div>
                            
                              
                                <div class="bg-danger" id="emailalreadypresent" role="alert" style="border-radius: 3px;text-align:center">
                                  <%= emailvalidation %>
                                </div>
                                
                            
                           
                            <div class="mb-3">
                              <label for="userid" class="form-label">Enter User Id</label>
                              <input type="userid" class="form-control" id="userid" name="userid" aria-describedby="emailHelp" autocomplete="on" required>
                              <div id="useridinstruction" class="form-text">User Id Should Contain Alphabet Characters and Some Special Charecters</div>
                            </div>
                           
                             
                              <div class="bg-danger" id="useridalreadypresent"role="alert" style="border-radius: 3px;text-align:center">
                                <%= useridvalidation %>
                              </div>
                              
                            

                            <div class="mb-3">
                              <label for="password"   class="form-label">Enter Password</label>
                              <input type="password" class="form-control" id="password" name="password" value="" autocomplete="off" onkeyup="check()" required >
                              <div id="passwordcontain" class="form-text">Password Must Contain Atleast One Special Character like !, @, #, $, %, ^, &, *</div>
                            </div>
                            <div class="mb-3">
                              <label for="confirmpassword"   class="form-label">Confirm Password</label>
                              <input type="password" id="confirmpassword" class="form-control" value="" name="confirmpassword" autocomplete="off" onkeyup="check()" required >
                            </div>
                            <div class="bg-danger" id="error" role="alert" style="border-radius: 3px; text-align:center">
                            </div>
                            <div class="bg-success" id="success"role="alert" style="border-radius: 3px;text-align:center">
                            </div>
                                <div class="bg-success" id="confirmation" role="alert" style="border-radius: 3px;text-align:center">
                                  <%= registrationconfirmation %>
                                </div>
                                
                            </div>
                            
                            
                            
                            <input type="submit" id="registerbutton" class="btn btn-primary"style="position:relative; top:0.01vw; left:5.5vw; width:15vw; margin-bottom:3vh;" value="Register">

                          </form>

                    </div>

                  </div>

            </div>

        </div>

     </div> <!-- for register ************** -->

     <%- include('common/footer')%>

      <script src="/public/js/register.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

</body>
</html>